*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
build_log*.txt
cap*.js
cap*.txt
cap*_err.txt
compile*.txt
build_final.txt
compile*.txt
build5.txt
guides_check.json
tmp_line.txt
